@font-face {
  font-family: "Roboto-light";
  src: url("../../assets/font/Roboto-Light.ttf");
}

.main {
  display: flexbox;
  text-align: center;
  text-decoration: solid;
  max-width: 1080;
}

.title {
  padding-top: 200px;
  font-family: "Roboto-light";
  font-size: 40px;
  line-height: 54px;
  color:black;
}

.description {
  padding-bottom: 20px;
  color:black;
  text-align: center;
  padding-top: 5px;
  font-family: "Roboto-light";
}

mat-form-field {
  width: 510px;
  left: 316px;
  top: 510px;
  font-size: 14px;
  text-align: center;
  color:black;
}

mat-label{
  font-size: 13px;
  color:black;
  font-family: "Roboto-light";
}