@font-face {
  font-family: "Roboto-light";
  src: url("../../assets/font/Roboto-Light.ttf");
}

.product-list{
  padding-top: 60px;
}

.titulo {
  font-family: "Roboto-light";
  padding-top: 50px;
  font-size: 20px;
  text-align: center;
}

