


.header {
    display:flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 10px;
    color:black;
} 

.dupe{
    font-family: "Roboto-light";
    line-height: 44px;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    align-items: left;
    padding-left: 30px;
    text-decoration: none !important;
    /* color: black; */
    color:black;
}
  
.description{
    font-size: 12px;
    width: 400px;
    align-items: left;
    padding-left: 30px;
    padding-top: 10px;
}