@font-face {
  font-family: Roboto;
  src: url(/frontend/src/assets/font/Roboto-Thin.ttf);
}

.product {
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
  padding-bottom: 50px;
}

.product-name {
  font-size: 26px;
  padding-bottom: 5px;
}

.items {
  font-size: large;
}
