@font-face {
  font-family: "Roboto-light";
  src: url("../../assets/font/Roboto-Light.ttf");
}

.product {
  font-family: "Roboto-light";
  font-style: normal;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: justify;
}

.product-name {
  padding-top: 50px;
  font-size: 26px;
  padding-bottom: 20px;
  text-align: center;
}

.items {
  font-size: large;
  text-align: justify;
}
