@font-face {
  font-family: "Roboto-light";
  src: url("../../assets/font/Roboto-Light.ttf");
}


.search-bar{
  line-height: 54px;
  align-items: right;
  padding-right: 30px;
  align-items: center;
}

mat-form-field {
  width: 350px;
}

mat-label{
  font-size: 12px;
  color:black;
  font-family: "Roboto-light";
}